@model SkolaProjektniCentar.Korisnik

@{
    ViewBag.Title = "Izbrisi";
}
<link href="~/Content/stil.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<style>

    body {
        background: url('/Slike/img11.png') no-repeat;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .btn-default {
        background: #912222;
        font-weight: 600;
        margin: 10px;
        border: 2px solid black;
        color: white;
    }

        .btn-default:hover {
            background: white;
            color: black;
            box-shadow: 2px 2px black;
            font-weight: 700;
            border: 2px solid black;
            transition: 0.6s;
            transform: scale(1.2);
        }

    .btn-danger {
        background: #912222;
        font-weight: 600;
        margin: 10px;
        border: 2px solid black;
        color: white;
    }

        .btn-danger:hover {
            background: white;
            color: black;
            box-shadow: 2px 2px black;
            font-weight: 700;
            border: 2px solid black;
            transition: 0.6s;
            transform: scale(1.2);
        }

    h2 {
        font-weight: 900;
        color: white;
        text-shadow: 3px 3px black;
        font-size: 40px;
    }

    #imgUpl {
        position: relative;
        left: 10%;
        padding: 10px;
    }
</style>

<h2>Izbrisi</h2>

<div>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.KorisnickoIme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KorisnickoIme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lozinka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lozinka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PravoPristupa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PravoPristupa)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Izbrisi" class="btn btn-default" />
        @Html.ActionLink("Nazad", "Index", new { id = Model.IdKorisnika }, new { @class = "btn btn-danger" })
    </div>
    }
</div>
