@model IEnumerable<SkolaProjektniCentar.KontaktTelefon>

@{
    ViewBag.Title = "Index";
}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="../../stylesheets/coloringpage.css" type="text/css" media="screen, projection" />
<link href="~/Content/stil.css" rel="stylesheet" />
<style>

    body 
    {
        background: url('/Slike/img11.png') no-repeat;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .btn-danger 
    {
        background: #912222;
        font-weight: 600;
        margin: 10px;
        border: 2px solid black;
        color: white;
    }

    .btn-danger:hover 
    {
        background: white;
        color: black;
        box-shadow: 2px 2px black;
        font-weight: 700;
        border: 2px solid black;
        transition: 0.6s;
        transform: scale(1.2);
    }

    h3 
    {
        font-weight: 800;
        color: white;
        text-shadow: 3px 3px black;
        font-size: 38px;
        padding-top: 1px;
        padding-bottom: 22px;
    }

    table 
    {
        border-top: 2px solid black;
    }

    td 
    {
        font-size: 18px;
        text-align: center;
        color: #000000;
    }

    th 
    {
        font-size: 18px;
        text-align: center;
        margin-top: 100px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        color: #000000;
    }

    #thh 
    {
        border-left: 2px solid black;
    }

    #thh2 
    {
        border-right: 2px solid black;
    }

    #printButton 
    {
        background: #912222;
        font-weight: 600;
        margin: 10px;
        border: 2px solid black;
        color: white;
    }

    #printButton:hover 
    {
        background: white;
        color: black;
        box-shadow: 2px 2px black;
        font-weight: 700;
        border: 2px solid black;
        transition: 0.6s;
        transform: scale(1.2);
    }

    a 
    {
        color: white;
    }

     a:hover 
     {
         color: black;
     }
</style>
<p></p>
    <h3 style="text-align:center;">Spisak telefona</h3>
<p> </p>
<table class="table table-condensed">
    <tr>
        <th id="thh">Ime</th>
        <th>Prezime</th>
        <th>Tip telefon</th>
        <th>Broj telefona</th>
        <th id="thh2">Lokal</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Osoba.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osoba.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipTelefona.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojTelefona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokal)
            </td>
        </tr>
    }
</table>
<button id="printButton"><a href="javascript:window.print()"><span class="glyphicon glyphicon-print"></span> Stampaj</a></button>
